<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Se le coloca un titulo a la pagina -->
  <title>Ajedrez: Actividades</title>
  <!-- Se importa la hoja de estilos -->
  <link rel="stylesheet" href="../style/global.css">
  <link rel="stylesheet" href="../style//actividades.css">
   <!-- Se agrega el icono que aparece en la pestaña del navegador -->
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
</head>

<body>
  <header>
    <h1>Actividades</h1>
    <nav>
      <ul>
        <li><a href="./index.html">Inicio</a></li>
        <li><a href="./ubicacion.html">Ubicación</a></li>
        <li><a href="./personajes.html">Personajes</a></li>
        <li><a href="./actividades.html">Actividades</a></li>
        <li><a href="./historia.html">Historia</a></li>
        <li><a href="./creditos.html">Créditos</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>Las principales actividades relacionadas con el ajedrez son:</h2>
      <ul>
        <li>
          <p>
            <!-- Aqui se agrega un b que es una negrilla -->
            <b>Jugar partidas:</b>
            Puedes jugar partidas contra amigos, familiares, en clubes de ajedrez o en línea.
          </p>
        </li>
        <li>
          <p>
            <b>Resolver problemas de ajedrez:</b>
            Hay muchos libros y sitios web con problemas de ajedrez para que puedas practicar tus habilidades.
          </p>
        </li>
        <li>
          <p>
            <b>Estudiar teoría de ajedrez:</b>
            Hay muchos libros y sitios web que te pueden enseñar sobre la estrategia y la táctica del ajedrez.
          </p>
        </li>
        <li>
          <p>
            <b>Participar en torneos:</b>
            Hay torneos de ajedrez para todos los niveles, desde principiantes hasta grandes maestros.
          </p>
        </li>
      </ul>
    </section>
    <section>
      <h2>Plataformas online para jugar ajedrez:</h2>
      <ul>
        <li>
          <p>
            <b>Chess.com: </b>
            Es una de las plataformas online más populares para jugar ajedrez. Ofrece una variedad de opciones, como
            partidas en vivo, juegos por correspondencia, análisis de partidas y mucho más.
          </p>
          <a class="custom-link" target="_blank" href="https://www.chess.com/">Enlace a la pagina</a>
        </li>
        <li>
          <p>
            <b>Lichess:</b>
            Es una plataforma gratuita y de código abierto para jugar ajedrez. Ofrece muchas de las mismas opciones que
            Chess.com, además de lecciones, puzzles y torneos.
          </p>
          <a class="custom-link" target="_blank" href="https://lichess.org/es">Enlace a la pagina</a>
        </li>
      </ul>
    </section>
    <section>
      <h2>Personajes de YouTube:</h2>
      <ul>
        <li>
          <p>
            <b>Rey Enigma:</b>
            Un canal de YouTube en español que ofrece tutoriales, análisis de partidas y consejos para mejorar tu juego
            de ajedrez.
          </p>
        </li>
        <li>
          <p>
            <b>GothamChess:</b>
            Un canal de YouTube en inglés que ofrece partidas en vivo, análisis de partidas y contenido educativo sobre
            el ajedrez.
          </p>
        </li>
        <li>
          <p>
            <b>Anna Zatonskih:</b>
            Un canal de YouTube en inglés que ofrece contenido educativo sobre el ajedrez, especialmente para
            principiantes.
          </p>
        </li>
        <li>
          <p>
            <b>Hikaru Nakamura:</b>
            Un canal de YouTube en inglés que ofrece partidas en vivo, análisis de partidas y contenido educativo sobre
            el ajedrez.
          </p>
        </li>
        <li>
          <p>
            <b>Magnus Carlsen:</b>
            Un canal de YouTube en inglés que ofrece partidas en vivo, análisis de partidas y contenido educativo sobre
            el ajedrez.
          </p>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Juliana Catalina de Castro Moreno. </p>
    <p>Grafica Interactiva - Universidad Nacional de Colombia.</p>
  </footer>
</body>

</html>