<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Se le coloca un titulo a la pagina -->
  <title>Ajedrez: Créditos</title>
  <!-- Se importa la hoja de estilos -->
  <link rel="stylesheet" href="../style/global.css">
  <link rel="stylesheet" href="../style/creditos.css">
   <!-- Se agrega el icono que aparece en la pestaña del navegador -->
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
</head>

<body>
  <header>
    <h1>Créditos</h1>
    <nav>
      <ul>
        <li><a href="./index.html">Inicio</a></li>
        <li><a href="./ubicacion.html">Ubicación</a></li>
        <li><a href="./personajes.html">Personajes</a></li>
        <li><a href="./actividades.html">Actividades</a></li>
        <li><a href="./historia.html">Historia</a></li>
        <li><a href="./creditos.html">Créditos</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>Sitios web:</h2>
      <ul>
        <li>
          <a class="custom-link" target="_blank" href="https://handbook.fide.com">
            Federación Internacional de Ajedrez
          </a>
        </li>
        <li>
          <a class="custom-link" target="_blank" href="https://www.chess.com/">
            Chess.com
          </a>
        </li>
        <li>
          <a class="custom-link" target="_blank" href="https://lichess.org/">
            Lichess
          </a>
        </li>
        <li>
          <a class="custom-link" target="_blank" href="https://es.wikipedia.org/wiki/Ajedrez">
            Wikipedia - Ajedrez
          </a>
        </li>
      </ul>
    </section>
    <section>
      <h2>Imagenes:</h2>
      <ul>
        <li>
          <p>Todas la imagenes se generaron a partir de la siguiente inteligencia artificial:</p>
          <a class="custom-link" target="_blank" href="https://playground.com/create">
            Imagenes generadas por IA
          </a>
        </li>
        <li>
          <p>favicon sacado de:</p>
          <a class="custom-link" target="_blank" href="https://iconos8.es/icons/set/ajedrez">
            iconos8.es
          </a>
        </li>
      </ul>
    </section>
    <section>
      <h2>Libros recomendados:</h2>
      <ul>
        <li>
          <p>
            Kasparov, Garry. (2007). Garry Kasparov on My Great Predecessors. Part I. Everyman Chess.
          </p>
        </li>
        <li>
          <p>
            Fischer, Bobby. (1992). My 60 Memorable Games. Batsford.
          </p>
        </li>
        <li>
          <p>
            Capablanca, José Raúl. (1921). Chess Fundamentals. Harcourt Brace.
          </p>
        </li>
        <li>
          <p>
            Karpov, Anatoly. (1990). Chess: My Life. Batsford.
          </p>
        </li>
        <li>
          <p>
            Carlsen, Magnus. (2015). Magnus Carlsen: My Great Predecessors. Everyman Chess.
          </p>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Juliana Catalina de Castro Moreno. </p>
    <p>Grafica Interactiva - Universidad Nacional de Colombia.</p>
  </footer>
</body>

</html>