<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Se le coloca un titulo a la pagina -->
  <title>Ajedrez: Historia</title>
  <!-- Se importa la hoja de estilos -->
  <link rel="stylesheet" href="../style/global.css">
  <link rel="stylesheet" href="../style/historia.css">
  <!-- Se agrega el icono que aparece en la pestaña del navegador -->
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
</head>

<body>
  <header>
    <h1>Historia</h1>
    <nav>
      <ul>
        <li><a href="./index.html">Inicio</a></li>
        <li><a href="./ubicacion.html">Ubicación</a></li>
        <li><a href="./personajes.html">Personajes</a></li>
        <li><a href="./actividades.html">Actividades</a></li>
        <li><a href="./historia.html">Historia</a></li>
        <li><a href="./creditos.html">Créditos</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <p>
      El ajedrez ha tenido una larga y rica historia. Ha sido jugado por reyes, reinas, generales, artistas y personas
      de todas las clases sociales. El ajedrez ha sido objeto de literatura, arte y música.
    </p>
    <section>
      <h2>Personajes relevantes en la historia del ajedrez:</h2>
      <ul>
        <li>
          <p>
            <b>José Raúl Capablanca:</b>
            Gran maestro cubano, considerado uno de los mejores jugadores de la historia.
          </p>
        </li>
        <li>
          <p>
            <b>Bobby Fischer:</b>
            Gran maestro estadounidense, campeón del mundo en 1972.
          </p>
        </li>
        <li>
          <p>
            <b>Anatoly Karpov: </b>
            Gran maestro soviético, campeón del mundo durante 10 años.
          </p>
        </li>
        <li>
          <p>
            <b>Garry Kasparov:</b>
            Gran maestro soviético y ruso, campeón del mundo durante 15 años.
          </p>
        </li>
        <li>
          <p>
            <b>Magnus Carlsen:</b>
            Gran maestro noruego, actual campeón del mundo.
          </p>
        </li>
      </ul>
    </section>
    <section>
      <h2>El ajedrez en la cultura:</h2>
      <p class="add-margin-button-20px">
        El ajedrez ha tenido una gran influencia en la cultura a lo largo de la historia. Ha sido representado en
        literatura, arte, música y cine. Algunos ejemplos famosos incluyen:
      </p>
      <ul>
        <li>
          <p>
            <b>Literatura:</b>
            "El juego de Ender" de Orson Scott Card
          </p>
        </li>
        <li>
          <p>
            <b>Arte:</b>
            "El jugador de ajedrez" de Marcel Duchamp
          </p>
        </li>
        <li>
          <p>
            <b>Música:</b>
            "Sinfonía nº 8" de Dmitri Shostakovich
          </p>
        </li>
        <li>
          <p>
            <b>Cine:</b>
            "En busca del Bobby Fischer" de Steven Zaillian
          </p>
        </li>
      </ul>
    </section>
    <section>
      <h2>El futuro del ajedrez:</h2>
      <p>
        El ajedrez está en constante evolución. Las nuevas tecnologías están permitiendo que el juego se juegue de
        nuevas maneras, como online o con realidad virtual. El ajedrez también se está utilizando cada vez más en la
        educación y la terapia.
      </p>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Juliana Catalina de Castro Moreno. </p>
    <p>Grafica Interactiva - Universidad Nacional de Colombia.</p>
  </footer>
</body>

</html>