<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Se le coloca un titulo a la pagina -->
  <title>Ajedrez: Personajes</title>
  <!-- Se importa la hoja de estilos -->
  <link rel="stylesheet" href="../style/global.css">
  <!-- Se agrega el icono que aparece en la pestaña del navegador -->
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
</head>

<body>
  <header>
    <h1>Personajes</h1>
    <nav>
      <ul>
        <li><a href="./index.html">Inicio</a></li>
        <li><a href="./ubicacion.html">Ubicación</a></li>
        <li><a href="./personajes.html">Personajes</a></li>
        <li><a href="./actividades.html">Actividades</a></li>
        <li><a href="./historia.html">Historia</a></li>
        <li><a href="./creditos.html">Créditos</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <p class="add-margin-button-20px">
      Las piezas del ajedrez tienen diferentes nombres y movimientos. Las piezas mayores son la dama, la torre, el alfil
      y el caballo. Las piezas menores son los peones. El rey es la pieza más importante del juego.
    </p>
    <section>
      <h2>Personajes relevantes en la historia del ajedrez:</h2>
      <ul>
        <li>
          <p>
            <b>José Raúl Capablanca:</b>
            Gran maestro cubano, considerado uno de los mejores jugadores de la historia.
          </p>
          <div style="width: 100%; display: flex; justify-content: start;">
            <img src="../images/social/jos-ral-capablanca-sepia.jpeg" alt="Jugador Jose Raul Capablanca" />
          </div>
        </li>
        <li>
          <p>
            <b>Bobby Fischer:</b>
            Gran maestro estadounidense, campeón del mundo en 1972.
          </p>
          <div style="width: 100%; display: flex; justify-content: start;">
            <img src="../images/social/bobby-fischer-sepia.jpeg" alt="Jugador Bobby Fischer" />
          </div>
        </li>
        <li>
          <p>
            <b>Anatoly Karpov:</b>
            Gran maestro soviético, campeón del mundo durante 10 años.
          </p>
          <div style="width: 100%; display: flex; justify-content: start;">
            <img src="../images/social/anatoly-karpov-sepia.jpeg" alt="Jugador Anatoly Karpov" />
          </div>
        </li>
        <li>
          <p>
            <b>Garry Kasparov: </b>
            Gran maestro soviético y ruso, campeón del mundo durante 15 años.
          </p>
          <div style="width: 100%; display: flex; justify-content: start;">
            <img src="../images/social/garry-kasparov-sepia.jpg" alt="Jugador Garry Kasparov" />
          </div>
        </li>
        <li>
          <p>
            <b>Magnus Carlsen:</b>
            Gran maestro noruego, actual campeón del mundo.
          </p>
          <div style="width: 100%; display: flex; justify-content: start;">
            <img src="../images/social/magnus-carlsen-sepia.jpg" alt="Jugador Magnus Carlsen" />
          </div>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Juliana Catalina de Castro Moreno. </p>
    <p>Grafica Interactiva - Universidad Nacional de Colombia.</p>
  </footer>
</body>

</html>