<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Se le coloca un titulo a la pagina -->
  <title>Ajedrez: Ubicación</title>
  <!-- Se importa la hoja de estilos -->
  <link rel="stylesheet" href="../style/global.css">
  <!-- Se agrega el icono que aparece en la pestaña del navegador -->
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
</head>

<body>
  <header>
    <h1>Ubicacion</h1>
    <nav>
      <ul>
        <li><a href="./index.html">Inicio</a></li>
        <li><a href="./ubicacion.html">Ubicación</a></li>
        <li><a href="./personajes.html">Personajes</a></li>
        <li><a href="./actividades.html">Actividades</a></li>
        <li><a href="./historia.html">Historia</a></li>
        <li><a href="./creditos.html">Créditos</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <!-- Aqui se agrega un class personalizado para agregar estilos personalizados, en este caso un margen en la parte de abajo de 20 pixeles -->
    <p class="add-margin-button-20px">
      El ajedrez se originó en la India en el siglo VI d.C. con el nombre de Chaturanga. Se extendió a Persia, donde
      se le llamó Shatranj, y luego a Europa a través de los árabes. El juego se popularizó en Europa durante la Edad
      Media y se convirtió en un símbolo de inteligencia y estrategia.
    </p>
    <section>
      <h2>Variantes del ajedrez:</h2>
      <ul>
        <li>
          <p>
            <b>Ajedrez occidental:</b>
            Es la variante más popular del ajedrez.
          </p>
        </li>
        <li>
          <p>
            <b>Ajedrez chino:</b>
            También conocido como Xiangqi, se juega con un tablero y piezas diferentes.
          </p>
        </li>
        <li>
          <p>
            <b>Ajedrez japonés:</b>
            También conocido como Shogi, se juega con un tablero y piezas diferentes.
          </p>
        </li>
        <li>
          <p>
            <b>Ajedrez tailandés:</b>
            También conocido como Makruk, se juega con un tablero y piezas diferentes.
          </p>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Juliana Catalina de Castro Moreno. </p>
    <p>Grafica Interactiva - Universidad Nacional de Colombia.</p>
  </footer>
</body>

</html>